/*DANDO ESTILO A LA PÁGINA EN GENERAL*/
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
}

/*ALINEANDO EL CONTENIDO DEL CONTENEDOR PRINCIPAL EN EL CENTRO*/
.contenedor {
    text-align: center;
}

/*DANDO ESTILO AL TÍTULO*/
h1 {
    margin-bottom: 50px;
    font-size: 50px;
    color: #202020;
    text-shadow: 5px 5px 5px rgb(126, 126, 126);
}

/*DANDO ESTILO AL SUBTITULO*/
h2{
    font-size: 30px;
    color: #202020;
    text-shadow: 5px 5px 5px rgb(126, 126, 126);
    margin-bottom: 50px;
}

/*DANDO ESTILOS AL CONTENEDOR DE LA CALCULADORA*/
.calculadora {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    margin: 0 auto;
}

/*DANDO ESTILOS A LA PANTALLA QUE MUESTRA LOS NÚMEROS*/
#pantalla {
    width: 100%;
    height: 60px;
    text-align: right;
    font-size: 24px;
    border: none;
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
    background: rgb(203, 202, 202);
    border-radius: 5px;
}

/*DANDO ESTILOS A LA CLASE BOTONES*/
.botones {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

/*DANDO ESTILOS A TODOS LOS BOTONES*/
button {
    height: 60px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(230, 227, 227);
    cursor: pointer;
}

/*DANDO ESTILO CUANDO EL MOUSE PASE POR TODOS LOS BOTONES*/
button:hover {
    background-color: rgb(185, 185, 185);
}